* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --gray: #555;
  --darkgray: #333;
  --blue: hsl(193, 82%, 31%);
  --skeleton-background: #b8b8b8;
  --box-shadow: 0 0 0.25rem darkgrey;
  --border-radius: 0.25rem;
  --header-icon-size: 2rem;
  --gap: 1.2rem;
  --header-z-index: 1;
  --modal-z-index: 2;
  --skip-link-z-index: 3;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style-type: none;
}

button {
  border: none;
  cursor: pointer;
}

select {
  outline: none;
  cursor: pointer;
  appearance: none;
}

textarea {
  resize: none;
  font-family: inherit;
}
