* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --gray: #555;
  --darkgray: #333;
  --red: #b60000;
  --blue: hsl(193, 68%, 25%);
  --box-shadow: 0 0 0.25rem darkgrey;
  --border-radius: 0.25rem;
  --header-icon-size: 2rem;
  --gap: 1.2rem;
  --header-z-index: 1;
  --modal-z-index: 2;
  --skip-link-z-index: 3;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overscroll-behavior: none;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style-type: none;
}

button {
  border: none;
  cursor: pointer;
}

select {
  outline: none;
  cursor: pointer;
  appearance: none;
  background: white;
  color: black;
}

textarea {
  resize: none;
  font-family: inherit;
}

address {
  font-style: normal;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.hidden {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
}

.text-center {
  text-align: center;
}
